/* Cores da página 2 */

:root {
    --p2header: #1a6e3cc0;
    --p2texto: #b6f8d1;
    --p2titulo: #a0d3b5;
    --p2background: #409462;
}

/* Geral */

.pag2{
    place-items: center;
    min-height: 100dvh;
    height: auto;
    background-color: var(--p2background);
    background-image: linear-gradient(color-mix(in srgb, var(--p2background) 80%, transparent)), url(./imgs/pag2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: relative;
    color: var(--p2texto);
    scroll-snap-align: start;
}

.titulo.Musicas{
    text-align: center;
    font-weight: bold;
    background-color: var(--p2header);
    color: var(--p2titulo);
    padding: 2%;
    font-size: 190%;
}

#jukebox{
    padding: 10px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    column-gap: 5%;
}

h3{
    font-weight: bold;
    font-size: large;
    text-align: center;
}

#playlist{
    display: flex;
    flex-direction: column;
    place-items: center;
}

.cadamusica{
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    justify-content: flex-start;
    width: 100%;
}