/********************/
/* Cores universais */
/********************/

:root {
    --playerbackground: rgba(95, 95, 95, 0.397);
    --playerprogress: rgb(150, 150, 150);
    --playertext: white;
}

/*********/
/* Geral */
/*********/

*{
    transition: all 0.2s ease-in-out;
    box-sizing: border-box;
}

body{
    padding: 0;
    margin: 0;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
    scrollbar-width: none;
}

#Paginas{
    width: 100hv;
    height: 100vh;
    overflow-x: scroll;
    overflow-y: hidden;
    scroll-snap-type: x mandatory;
    display: flex;
    flex-direction: row;
    scrollbar-width: none;
}

/* Garante que os elementos filhos não encolham para caber dentro do body */
#Paginas > *{
    flex-shrink: 0;
}

/********/
/* Gbar */
/********/

#gbar-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: var(--playertext);
}

#gbar {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#scroll-arrows{
    justify-self: right;
    margin-right: 5%;
    background: var(--playerbackground);
    border-radius: 10px 10px 0 0;
}

.arrow{
    font-size: xx-large;
    font-weight: bold;
    border-radius: 0 10px 0 0;
}

#left-arrow{
    border-radius: 10px 0 0 0;
}

#ocultar-audio{
    width: 6vh;
    border-bottom: none;
    background: var(--playerbackground);
    font-size: x-large;
    border-radius: 10px 10px 0 0;
    color: var(--playertext);
}

#ocultar-audio:hover, .arrow:hover{
    background-color: var(--playerprogress);
}

/******************************/
/* Player de musica flutuante */
/******************************/

#progress-container {
    width: 100%;
    height: 8px;
    background: var(--playerbackground);
    cursor: pointer;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: var(--playerprogress);
    transition: width 0.1s linear;
}

#controls-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 0 0;
    background: var(--playerbackground);
}

#playback-controls{
    display: flex;
    place-items: center;
}

#playback-controls button {
    background: none;
    border: none;
    color: var(--playertext);
    font-size: 20px;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    place-items: center;
}

#playback-controls button:hover {
    background: var(--playerprogress);
    color: var(--playerbackground);
}

.sombutton{
    padding-left: 15%;
}

/***************************/
/* Iframe para sub paginas */
/***************************/

#iframe{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}

/***********/
/* Scrolls */
/***********/

#Paginas::-webkit-scrollbar {
  width: 0px;         
  display: none;  
}