/* Definição */

:root {
    --header: rgb(23, 3, 92, 0.5);
    --texto: rgb(255, 255, 255);
    --caixas: rgba(78, 72, 155, 0.7);
    --titulo: rgb(123, 140, 236);
    --background: rgb(62, 52, 153);
    --playerbackground: rgb(23, 3, 92, 0.5);
    --playerprogress: rgb(62, 52, 153);
    --playertext: white;
}

/* Geral */

*{
    transition: all 0.2s ease-in-out;
}

body{
    padding: 0;
    margin: 0;
    color: var(--texto);
    background-color: var(--background);
    background-image: url(./fundo.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: "Bricolage Grotesque", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "wdth" 100;
}

header{
    text-align: center;
    font-weight: bold;
    background-color: var(--header);
    color: var(--titulo);
    padding: 2%;
    font-size: 190%;
}

button{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: var(--texto);
    font-size: medium;
}

#home{
    font-size: 60%;
    margin-left: 30%;
}

/* Grid principal */

#grid{
    margin: 2%;
    gap: 3%;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    box-sizing: border-box;
}

.bloco{
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    aspect-ratio: 1/1;
    width: 100%;
}

.subloco{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    padding: 5%;
    transition: all 0.2s ease-in-out;
    background-color: var(--caixas);
    font-size: 100%;
    border-radius: 15px;
}

.subloco:hover{
    margin: -5%;
    width: 110%;
    font-size: 110%;
    color: var(--caixas);
    background-color: var(--texto);
}

.descri{
    width: 100%;
    text-align: center;
    aspect-ratio: 5/1;
}

img{
    width: 80%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

/* Player de musica principal */

#audio-player-container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    color: var(--playertext);
}

#ocultar-audio{
    border-bottom: none;
    background: var(--playerbackground);
    font-size: x-large;
    border-radius: 10px 10px 0 0;
    color: var(--playertext);
}

#ocultar-audio:hover{
    background-color: var(--playerprogress);
}

#progress-container {
    width: 100%;
    height: 8px;
    background: var(--playerbackground);
    cursor: pointer;
}

#progress-bar {
    width: 0%;
    height: 100%;
    background: var(--playerprogress);
    transition: width 0.1s linear;
}

#controls-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    place-items: center;
    padding: 0 0;
    background: var(--playerbackground);
}

#playback-controls{
    display: flex;
    place-items: center;
}

#playback-controls button {
    background: none;
    border: none;
    color: var(--playertext);
    font-size: 20px;
    margin: 0 10px;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    cursor: pointer;
    transition: all 0.2s ease;
    display: flex;
    place-items: center;
}

#playback-controls button:hover {
    background: var(--playerprogress);
    color: var(--playerbackground);
}

/* Iframe */
#iframe{
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
}