/*********************/
/* Cores da página 1 */
/*********************/

:root {
    --p0header: #61139c7a;
    --p0texto: rgb(255, 255, 255);
    --p0caixas: #632f8aab;
    --p0titulo: #d9cfe0bb;
    --p0background: #000000;
}

/*********/
/* Geral */
/*********/

.pag0{
    background-color: var(--p0background);
    color: var(--p0texto);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    scroll-snap-align: start;
    width: 100dvw;
    height: 100vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

@media (orientation: portrait) {
    .pag0{
        width: 100vw;
        height: min-content;
        min-height: 100vh;
        padding-bottom: 90vh;
    }
}

.titmsg{
    font-family: sans-serif;
    font-weight: bold;
    font-size: 300%;
    align-self: center;
}

@keyframes pisca {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

.cursor::after {
  content: "|";
  animation: pisca 0.7s infinite;
}

.cursor::before {
  content: "|";
  opacity: 0;
}