/*********************/
/* Cores da página 1 */
/*********************/

:root {
    --p1header: #520f85bd;
    --p1texto: rgb(255, 255, 255);
    --p1caixas: #632f8aab;
    --p1titulo: #ffffffc5;
    --p1background: #61139c2d;
}

/*********/
/* Geral */
/*********/

*{
    transition: all 0.2s ease-in-out;
}

body{
    background-color: var(--p1background);
    background-image: linear-gradient(var(--p1background)), url(../imgs/pag1.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100dvw;
    height: 100vh;
    overflow-y: auto;
    margin: 0;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.titulo{
    text-align: center;
    font-weight: bold;
    background-color: var(--p1header);
    color: var(--p1titulo);
    padding: 2%;
    font-size: xx-large;
}

a{
    background-color: rgb(0, 0, 0, 0);
    border: none;
    color: var(--p1texto);
    font-size: medium;
    text-decoration: none;
}

/******************/
/* Grid principal */
/******************/

grid{
    padding: 2vw;
    column-gap: 3vw;
    display: grid;
    place-items: center;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    box-sizing: border-box;
}

.bloco{
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    aspect-ratio: 1/1;
    width: 100%;
    color: var(--p1texto);
}

.bloco div{
    display: flex;
    flex-direction: column;
    place-items: center;
    width: 100%;
    aspect-ratio: 4/3;
    min-height: min-content;
    box-sizing: border-box;
    padding: 15px;
    background-color: var(--p1caixas);
    font-size: 100%;
    border-radius: 6px;
}

.bloco div:hover{
    transform: scale(1.1);
}


.bloco img{
    width: 80%;
    aspect-ratio: 16/9;
    object-fit: contain;
}

.bloco p{
    text-align: center;
}
