/*********************/
/* Cores da página 2 */
/*********************/

:root {
    --p3header: #9C660D;
    --p3texto: #774d09;
    --p3titulo: #9C660D;
    --p3background: #9C660D;
}

/*********/
/* Geral */
/*********/

body{
    display: flex;
    place-items: center;
    background-color: var(--p3background);
    background-image: linear-gradient(color-mix(in srgb, var(--p3background) 50%, transparent)), url(../imgs/pag3.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: var(--p3texto);
    width: 100dvw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

h1{
    text-align: center;
    width: 100vw;
}
