/*********************/
/* Cores da página 2 */
/*********************/

:root {
    --p2header: #1a6e3cc0;
    --p2texto: #b6f8d1;
    --p2titulo: #a0d3b5;
    --p2background: #409462;
}

/*********/
/* Geral */
/*********/

body{
    background-color: var(--p2background);
    background-image: linear-gradient(color-mix(in srgb, var(--p2background) 80%, transparent)), url(../imgs/pag2.gif);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100dvw;
    height: 100vh;
    margin: 0;
    color: var(--p2texto);
}

.titulo.Musicas{
    font-size: xx-large;
    text-align: center;
    font-weight: bold;
    background-color: var(--p2header);
    color: var(--p2titulo);
    padding: 2%;
}

button{
    background: none;
    border: none;
}

/***********/
/* Musicas */
/***********/

#jukebox{
    padding: 10px 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 62px;
    gap: 5vh;
}

/*#jukebox{
    padding: 10px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    column-gap: 5%;
    padding-bottom: 62px;
}*/

.playlist{
    display: flex;
    flex-direction: column;
    width: min(500px, 100%);
}

.playlist h3{
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.playlist .musicas{
    display: flex;
    flex-direction: column;
}

.cadamusica{
    display: flex;
    flex-direction: row;
    column-gap: 15px;
    justify-content: flex-start;
}